@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light-gray);
  font-family: 'Outfit', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 275px;
  height: 430px;
  border-radius: 12px;
}

.content img {
  width: 100%;
  border-radius: 6px;
}

.text {
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.text h3 {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--dark-blue);
}

.text p {
  font-size: 0.9rem;
  color: var(--grayish-blue);
}